<%-include('userheader')-%>
<section>
  <div class="container-fluid bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container d-flex justify-content-end align-items-center">
        <div class="col-lg-8 col-md-8">
          <div class="input-group">
            
            <div class="input-group-append">
              <form class="form-inline my-2 my-lg-0 mx-auto">
                <input class="form-control form-control-sm ml-3" id="searchInput" type="text" placeholder="Search..." aria-label="Search">
                <!-- <button class="btn btn-success" style="height: 31px;" id="searchbutton" type="button">Search</button>
                 -->
                 <button class="btn  bg-light position-relative" style="height: 31px;" id="searchbutton" type="button">
                  <i class="fas fa-search position-absolute top-50 start-50 translate-middle" style="font-size: 16px;"></i>
                </button>
              </form>
            </div>
           
            <div class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="categoryDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="categoryDropdown">
                  <% if (categoryNames && categoryNames !== null) { %>
                    <% for (let i = 0; i < categoryNames.length; i++) { %>
                      <a class="dropdown-item" href="/ProductList/?category=<%=categoryNames[i]%>">
                        <%= categoryNames[i] %>
                      </a>
                    <% } %>
                  <% } %>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="brandDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Brands
                </a>
                <div class="dropdown-menu" aria-labelledby="brandDropdown">
                  <% if (brandNames && brandNames !== null) { %>
                    <% for (let i = 0; i < brandNames.length; i++) { %>
                      <a class="dropdown-item" href="/ProductList/?brand=<%= brandNames[i] %>">
                        <%= brandNames[i] %>
                      </a>
                    <% } %>
                  <% } %>
                </div>
              </li>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>
  
  <div class="row ">
    <div class="col-lg-7 col-md-7 mt-5 ms-5 ps-4">
      <div class="sort-options">
        <label for="sortPrice">Sort by Price:</label>
        <select id="sortPrice" name="sortPrice">
          <option value="none">none</option>
          <option value="asc">Low to High</option>
          <option value="desc">High to Low</option>
        </select>
        </div>
    </div>
    
  </div>
  
   
      
   
  <section>
    
    <div class="container pb-5">

      <h1 class="text-center pt-5">POPULAR PRODUCTS</h1>
      <div class="row d-flex justify-content-center align-items-stretch">
        <% data.forEach(function(product, i) { %>
          <div class="col-md-3 col-sm-6 mt-5">
            <div class="card h-100">
              <a href="/productdetails/<%=generateSlug(product.name)%>/<%=product._id%>"
                style="text-decoration: none; color: black;">
                <div class="card-image">
                  <center><img src="http://localhost:3000/<%= product.image[0]%>" class="card-img-top pt-3"
                      style="height: 180px; width:180px;" alt="Product Image"></center>
                </div>
              </a>

              <div class="card-body d-flex flex-column justify-content-between">
                <div class="title-section mb-3">
                  <h5 class="card-title text-center" style="height: 30px;">
                    <%= product.name%>
                  </h5>
                </div>
                <div class="price-section text-center mb-1" style="height: 60px;">
                  <% if (product.discount!==0) { %>
                    <span class="badge bg-success ">
                      <%= product.discount + " % off" %>
                    </span>
                    <p class="card-text  text-center mb-1">
                      <%= formatCurrency(Math.round(product.price - (product.price*product.discount/100)))%>
                    </p>
                    <p class="card-text  text-center mb-2">
                      M.R.P:<del class="">
                        <%= formatCurrency(product.price)%>
                      </del>
                    </p>
                    <% } else { %>
                      <p class="card-text text-center mb-2">
                        <%= formatCurrency(product.price)%>
                      </p>
                      <% } %>
                </div>
                <hr>
                <div class="action-section d-flex justify-content-between align-items-center mb-2">
                  <i class='fas fa-shopping-cart pt-1'></i>
                  <p class="ps-2 mb-0">Add to cart</p>
                  <a href="#" onclick="postWishlist('<%= product._id %>'); return false;"
                    style="text-decoration: none; color: black;">
                    <i class="fa-regular fa-heart pt-1" id="heart<%= product._id %>"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
    </div>
  </section>
  <section>
    
    <div class="container">
      <div class="col-12 ">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <% if (prevPage) { %>
              <li class="page-item"><a class="page-link" href="/ProductList/?page=<%= prevPage %>">Previous</a></li>
              <% } %>
                <% for (let i=1; i <=pages; i++) { %>
                  <% if (i===currentPage) { %>
                    <li class="page-item active"><span class="page-link">
                        <%= i %>
                      </span></li>
                    <% } else { %>
                      <li class="page-item"><a class="page-link" href="/ProductList/?page=<%= i %>">
                          <%= i %>
                        </a></li>
                      <% } %>
                        <% } %>
                          <% if (nextPage) { %>
                            <li class="page-item"><a class="page-link" href="/ProductList/?page=<%= nextPage %>">Next</a></li>
                            <% } %>
          </ul>
        </nav>
      </div>
    </div>
  </section>
  <script>
    function postWishlist(id) {
      fetch(`/userauth/addtowhishlist/${id}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          document.getElementById(`heart${id}`).style.color = 'red'
          console.log('Wishlist item added successfully');
        })
        .catch(error => {
          console.error('There was a problem with the fetch operation:', error);
        });
    }



    document.addEventListener("DOMContentLoaded", function () {
        const sortDropdown = document.getElementById("sortPrice");

        const urlSearchParams = new URLSearchParams(window.location.search);
        const sortParam = urlSearchParams.get("sort");

        // Set the selected option in the dropdown based on the 'sort' parameter
        if (sortParam === "1") {
          sortDropdown.value = "asc"; // Low to High
        } else if (sortParam === "-1") {
          sortDropdown.value = "desc"; // High to Low
        } else {
          sortDropdown.value = "none"; // Default or None
        }

        sortDropdown.addEventListener("change", function () {
          const selectedValue = sortDropdown.value;
          let sortingParameter;

          if (selectedValue === "asc") {
            sortingParameter = 1; // Low to High
          } else if (selectedValue === "desc") {
            sortingParameter = -1; // High to Low
          } else {
            sortingParameter = null; // None (or any other default value)
          }

          // Redirect to the root URL with the sorting parameter as a query parameter
          if (sortingParameter == null) {
            window.location.href = `/ProductList`;
          } else {
            window.location.href = `/ProductList/?sort=${sortingParameter}`;
          }

        });
      });

      document.addEventListener("DOMContentLoaded", function () {
  const searchInput = document.getElementById("searchInput");
  const searchButton = document.getElementById("searchbutton");

  // Get the existing search query from the URL
  const urlSearchParams = new URLSearchParams(window.location.search);
  const searchParam = urlSearchParams.get("search");

  // Set the search input value based on the 'search' parameter
  searchInput.value = searchParam || "";

  // Event listener for changes in the search input
  searchButton.addEventListener("click", function () {
    const searchValue = searchInput.value.trim();
    if (searchValue === "") {
      window.location.href = `/ProductList`;
    } else {
      window.location.href = `/ProductList/?search=${encodeURIComponent(searchValue)}`;
    }
  });
});

  </script>

  <%-include('userfooter')-%>